# Allow init to mount vendor configs
allow init vendor_configs_file:dir mounton;
allow init vendor_overlay_file:file mounton;

# Allow init to chown/chmod on pseudo files in /sys
allow init {
    sysfs_graphics
}:file { open read setattr };

# Allow init to write to otg_switch
allow init sysfs_usb_supply:file w_file_perms;

# Allow init to set attributes for sysfs_fod
allow init sysfs_fod:file setattr;

# Allow init to get attributes for firmware
#allow init firmware_file:filesystem getattr;
#allow init bt_firmware_file:filesystem getattr;
